// banner height
$cb_height         : 60px !default;

// banner text color
$cb_color          : #fff !default;

// banner background color
$cb_bgColor        : #000 !default;

// banner background opacity
$cb_bgColorOpacity : .8   !default;

// banner c_content padding
$cb_padding        : 15px !default;

// banner c_content max-width
$cb_maxWidth       : 960px !default;